{% extends 'base.html.twig' %}

{% block title %}Edit ListItem{% endblock %}

{% block body %}
<div class="container my-4">
    <h1>Editer le ListItem</h1>

    {{ include('list_item/_form.html.twig') }}

</div>
{% endblock %}
