{% extends 'base.html.twig' %}

{% block title %}Edit Platform{% endblock %}

{% block body %}
<div class="container my-4">
    <h1>Editer la Plateforme</h1>

    {{ include('platform/_form_edit.html.twig') }}

</div>
{% endblock %}
