{% extends 'base.html.twig' %}

{% block title %}Edit Platform{% endblock %}

{% block body %}
<div class="container my-4">
    <h1>Editer la Plateforme</h1>

    {{ include('platform/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <a class="btn btn-success" href="{{ path('app_platform_index') }}">Retourner à la liste</a>

    {{ include('platform/_delete_form.html.twig') }}
</div>
{% endblock %}
