{% extends 'base.html.twig' %}

{% block title %}New Platform{% endblock %}

{% block body %}
<div class="container my-4">
    <h1>Créer une nouvelle Plateforme</h1>

    {{ include('platform/_form.html.twig') }}

        <a class="btn btn-success" href="{{ path('app_platform_index') }}">Retourner à la liste</a>
</div>
{% endblock %}
