{{ form_start(form) }}
    {{ form_widget(form) }}
   
        <a class="btn btn-sm btn-warning" href="{{ path('app_tag_index') }}"><ion-icon name="return-down-back-outline"></ion-icon></a>

        <button class="btn btn-success btn-sm" ><ion-icon name="checkmark-outline"></ion-icon></button>

{{ form_end(form) }}
