{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Créer un nouveau Tag</h1>

        {{ include('tag/_form.html.twig') }}

    </div>
{% endblock %}
