{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 404 - Tu t'es perdu.e ?</h1>
    <img src="{{ asset('https://66.media.tumblr.com/3850180b33e307f7a2a86d0eee2c21b5/tumblr_mmrawrF8vM1rfjowdo1_500.gif') }}" alt="Symfony!" />
{% endblock %}