{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}

{% block body %}
<div class="container my-4">
    <h1>Editer l'Item</h1>

    {{ include('item/_form.html.twig')}}

</div>
{% endblock %}
