{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Créer nouveau User</h1>

        {{ include('user/_form.html.twig') }}

    </div>
{% endblock %}
